 <!-- service -->
 <div class="service">
  <div class="container">
      <div class="row">
          <div class="col-md-8 offset-md-2">
              <div class="title">
                  <h2>Different <strong class="black">Category</strong></h2>
                  <span>Easy and effective way to get your device repair</span>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
              <div class="service-box">
                  <i class="fas fa-mobile-alt"></i>
                  <button>Mobile Phone</button>
                  <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea </p>
              </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
              <div class="service-box">
                <i class="fas fa-tv"></i>
                  <button>Smart Telivision</button>
                  <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea </p>
              </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
              <div class="service-box">
                <i class="fas fa-headphones-alt"></i>
                  <button>Accessories</button>
                  <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea </p>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- end service -->
