<app-spinner *ngIf="loader"></app-spinner>
<section *ngIf="!loader">
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <input type="radio" name="position" checked/>
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <main id="carousel">
    <div class="item" *ngFor="let reviewer of Reviewers">
      <div class="review">
        <img
          src="{{reviewer.userImage}}"
          alt="{{reviewer.userName}} "
          srcset=""
        />
      </div>
      <div class="userMassge">
        <div class="userName">
          <h3>{{reviewer.userName}}</h3>
          <div> <span class="fa fa-star star-active mx-1"></span> <span
            class="fa fa-star star-active mx-1"></span> <span
            class="fa fa-star star-active mx-1"></span> <span
            class="fa fa-star star-active mx-1"></span> <span
            class="fa fa-star star-inactive mx-1"></span> </div>
          <p>{{reviewer.title}}</p>
        </div>
        <div class="massage">
          <span>
            {{reviewer.details}}
           </span>
        </div>
      </div>
    </div>
  </main>
</section>
