<section>
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <input type="radio" name="position" checked/>
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <main id="carousel">
    <div class="item">
      <div class="review">
        <img
          src="https://img.freepik.com/free-photo/pretty-young-stylish-sexy-woman-pink-luxury-dress-summer-fashion-trend-chic-style-sunglasses-blue-studio-background-shopping-holding-paper-bags-talking-mobile-phone-shopaholic_285396-2957.jpg?size=626&ext=jpg"
          alt=" firoz"
          srcset=""
        />
      </div>
      <div class="userMassge">
        <div class="userName">
          <h3>Firoz khan</h3>
          <div> <span class="fa fa-star star-active mx-1"></span> <span
            class="fa fa-star star-active mx-1"></span> <span
            class="fa fa-star star-active mx-1"></span> <span
            class="fa fa-star star-active mx-1"></span> <span
            class="fa fa-star star-inactive mx-1"></span> </div>
          <p>Titile</p>
        </div>
        <div class="massage">
          <span>
            This is the bbest place for buy a smart asssocirest and item.....
           </span>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="review">
        <img
          src="https://img.freepik.com/free-photo/pretty-young-stylish-sexy-woman-pink-luxury-dress-summer-fashion-trend-chic-style-sunglasses-blue-studio-background-shopping-holding-paper-bags-talking-mobile-phone-shopaholic_285396-2957.jpg?size=626&ext=jpg"
          alt=" firoz"
          srcset=""
        />
      </div>
      <div class="userMassge">
        <div class="userName">
          <h3>Firoz khan</h3>
          <div> <span class="fa fa-star star-active mx-1"></span> <span
            class="fa fa-star star-active mx-1"></span> <span
            class="fa fa-star star-active mx-1"></span> <span
            class="fa fa-star star-active mx-1"></span> <span
            class="fa fa-star star-inactive mx-1"></span> </div>
          <p>Titile</p>
        </div>
        <div class="massage">
          <span>
            This is the bbest place for buy a smart asssocirest and item.....
           </span>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="review">
        <img
          src="https://img.freepik.com/free-photo/pretty-young-stylish-sexy-woman-pink-luxury-dress-summer-fashion-trend-chic-style-sunglasses-blue-studio-background-shopping-holding-paper-bags-talking-mobile-phone-shopaholic_285396-2957.jpg?size=626&ext=jpg"
          alt=" firoz"
          srcset=""
        />
      </div>
      <div class="userMassge">
        <div class="userName">
          <h3>Firoz khan</h3>
          <div> <span class="fa fa-star star-active mx-1"></span> <span
            class="fa fa-star star-active mx-1"></span> <span
            class="fa fa-star star-active mx-1"></span> <span
            class="fa fa-star star-active mx-1"></span> <span
            class="fa fa-star star-inactive mx-1"></span> </div>
          <p>Titile</p>
        </div>
        <div class="massage">
          <span>
            This is the bbest place for buy a smart asssocirest and item.....
           </span>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="review">
        <img
          src="https://img.freepik.com/free-photo/pretty-young-stylish-sexy-woman-pink-luxury-dress-summer-fashion-trend-chic-style-sunglasses-blue-studio-background-shopping-holding-paper-bags-talking-mobile-phone-shopaholic_285396-2957.jpg?size=626&ext=jpg"
          alt=" firoz"
          srcset=""
        />
      </div>
      <div class="userMassge">
        <div class="userName">
          <h3>Firoz khan</h3>
          <div> <span class="fa fa-star star-active mx-1"></span> <span
            class="fa fa-star star-active mx-1"></span> <span
            class="fa fa-star star-active mx-1"></span> <span
            class="fa fa-star star-active mx-1"></span> <span
            class="fa fa-star star-inactive mx-1"></span> </div>
          <p>Titile</p>
        </div>
        <div class="massage">
          <span>
            This is the bbest place for buy a smart asssocirest and item.....
           </span>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="review">
        <img
          src="https://img.freepik.com/free-photo/pretty-young-stylish-sexy-woman-pink-luxury-dress-summer-fashion-trend-chic-style-sunglasses-blue-studio-background-shopping-holding-paper-bags-talking-mobile-phone-shopaholic_285396-2957.jpg?size=626&ext=jpg"
          alt=" firoz"
          srcset=""
        />
      </div>
      <div class="userMassge">
        <div class="userName">
          <h3>Firoz khan</h3>
          <div> <span class="fa fa-star star-active mx-1"></span> <span
            class="fa fa-star star-active mx-1"></span> <span
            class="fa fa-star star-active mx-1"></span> <span
            class="fa fa-star star-active mx-1"></span> <span
            class="fa fa-star star-inactive mx-1"></span> </div>
          <p>Titile</p>
        </div>
        <div class="massage">
          <span>
            This is the bbest place for buy a smart asssocirest and item.....
           </span>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="review">
        <img
          src="https://img.freepik.com/free-photo/pretty-young-stylish-sexy-woman-pink-luxury-dress-summer-fashion-trend-chic-style-sunglasses-blue-studio-background-shopping-holding-paper-bags-talking-mobile-phone-shopaholic_285396-2957.jpg?size=626&ext=jpg"
          alt=" firoz"
          srcset=""
        />
      </div>
      <div class="userMassge">
        <div class="userName">
          <h3>Firoz khan</h3>
          <div> <span class="fa fa-star star-active mx-1"></span> <span
            class="fa fa-star star-active mx-1"></span> <span
            class="fa fa-star star-active mx-1"></span> <span
            class="fa fa-star star-active mx-1"></span> <span
            class="fa fa-star star-inactive mx-1"></span> </div>
          <p>Titile</p>
        </div>
        <div class="massage">
          <span>
            This is the bbest place for buy a smart asssocirest and item.....
           </span>
        </div>
      </div>
    </div>

  </main>
</section>
