<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="col-md-5">
              <h3>Tech Zone</h3>
              <div class="row">
                  <div class="col-6">
                      <ul class="list-unstyled">
                          <li><a href="">Home</a></li>
                          <li><a href="">About</a></li>
                          <li><a href="">Products</a></li>
                      </ul>
                  </div>
                  <div class="col-6">
                      <ul class="list-unstyled">
                          <li>Contact Us:</li>
                          <li><a href="callto:9798211257">+91 9798211257</a></li>
                          <li><a href="mailto:khan3firoz@gmail.com">khan3firoz@gmail.com</a></li>
                          <li>Address:- Alam Complex, Jail Chowk, Muzaffarpur 842001</li>
                      </ul>
                  </div>
              </div>
              <ul class="nav">
                  <li class="nav-item"><a href="" class="nav-link pl-0"><i class="fab fa-facebook fa-lg"></i></a>
                  </li>
                  <li class="nav-item"><a href="" class="nav-link"><i class="fab fa-twitter fa-lg"></i></a></li>
                  <li class="nav-item"><a href="" class="nav-link"><i class="fab fa-youtube fa-lg"></i></a></li>
                  <li class="nav-item"><a href="" class="nav-link"><i class="fab fa-instagram fa-lg"></i></a></li>
              </ul>
              <br>
          </div>
          <div class="col-md-2">
              <h5 class="text-md-right">Rate Us</h5>
              <hr>
          </div>
          <div class="col-md-5">
              <form>
                  <fieldset class="form-group">
                      <input type="text" class="form-control" id="titile" placeholder="Titile">
                  </fieldset>
                  <fieldset class="form-group">
                      <textarea class="form-control" id="exampleMessage" placeholder="Message"></textarea>
                  </fieldset>

                  <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                  </div>
                  <div class="sendBtn">
                  <fieldset class="form-group text-xs-right">
                    <button type="button" class="btn btn-primary  btn-sm">Send</button>
                </fieldset>
              </div>
              </form>
          </div>
          <span> &copy Copyright 1999-2021 by Refsnes Data. All Rights Reserved.</span>

      </div>
  </div>
</footer>
