<div class="container" id="container" [ngClass]="{'right-panel-active' : status}">
    <div class="form-container sign-up-container">
        <form [formGroup]="SignupForm" (ngSubmit)="signUp()">
            <h1>Create Account</h1>
            <!-- <div class="social-container">
              <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
              <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
          </div> -->
            <span> use your email for registration</span>
            <ng-container formGroupName="userData">
                <input type="text" placeholder="Name" formControlName="username" />
                <div *ngIf="!SignupForm.get('userData.username')?.valid &&SignupForm.get('userData.username')?.touched">
                    <span *ngIf="SignupForm.get('userData.username')?.errors?.nameIsForbidden">name is invalid</span>
                    <span *ngIf="SignupForm.get('userData.username')?.errors?.required">field is required</span>
                </div>
                <input type="email" placeholder="Email" formControlName="email" />
                <span class="help-block"
                    *ngIf="!SignupForm.get('userData.email')?.valid && SignupForm.get('userData.email')?.touched">
                    please enter a valid email id
                </span>
                <input type="password" placeholder="Password" formControlName="password" />
            </ng-container>
            <span class="help-block" *ngIf="!SignupForm.valid && SignupForm.touched">
                please enter valid data
            </span>
            <button type="submit">Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form #userForm="ngForm">
            <h1>Sign in</h1>
            <!-- <div class="social-container">
              <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
              <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
          </div> -->
            <span>use your account</span>
            <input type="email" placeholder="Email" #userEmail="ngModel" [(ngModel)]="user.email"
                [ngModelOptions]="{standalone: true}" required email />
            <input type="password" placeholder="Password" #userPassword="ngModel" [(ngModel)]="user.password"
                [ngModelOptions]="{standalone: true}" required minlength="4" maxlength="20" />
            <div *ngIf="userEmail.errors">Email must be a valid email address</div>
            <div *ngIf="userPassword.errors">Password Required</div>
            <!-- <a>Forgot your password?</a> -->
            <button (click)="signIn(userForm)">Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn" (click)="switchSingInAndUp()">Switch To Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" id="signUp" (click)="switchSingInAndUp()">Switch To Sign Up</button>
            </div>
        </div>
    </div>
</div>