@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css");
/* .carousel-item img{
  height: 80vh;
  width: 98%;
} */
body{
font-family: poppins;
}
.carousel{
margin-left: 4.8%;
}
.carousel-inner .item{
height: 100vh;
}
.carousel-inner .item img{
width: 110%;
height: 100vh !important;
}
.carousel-caption{
padding-bottom: 250px;
}
.carousel-caption h2{
font-size: 50px;
text-transform: uppercase;
}
.carousel-control.right{
background-image: none;
}
.carousel-control.left{
background-image: none;
}
.navBar{
position: fixed;
top: 0;
left: 0;
z-index: 5;
}

