<app-side-bar></app-side-bar>

<h2>Avalable Mobile Brands</h2>

<div class="brands">
  <div class="container">
    <div class="card" *ngFor="let brand of mobileBrands">
      <div class="box">
        <div class="content">
        <img src="{{brand.logo}}" alt="" srcset="" class="{{brand.brandName}}">
        </div>
      </div>
    </div>

    <!-- <div class="card">
      <div class="box">
        <div class="content">
        <img src="assets/img/oppo_logo.png" alt="" srcset=""class="oppo_logo">

        </div>
      </div>
    </div>

    <div class="card">
      <div class="box">
        <div class="content">
          <img src="assets/img/oneplus_logo.png" alt="" srcset=""class="oneplus_logo">

        </div>
      </div>
    </div>
    <div class="card">
      <div class="box">
        <div class="content">
          <img src="assets/img/nokia_logo.png" alt="" srcset=""class="nokia_logo">

        </div>
      </div>
    </div>
    <div class="card">
      <div class="box">
        <div class="content">
          <img src="assets/img/realme_logo.png" alt="" srcset=""class="realme_logo">

        </div>
      </div>
    </div>
    <div class="card">
      <div class="box">
        <div class="content">
          <img src="assets/img/vivo_logo.png" alt="" srcset=""class="vivo_logo">

        </div>
      </div>
    </div> -->
  </div>
</div>
